.ecc-client-info {
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.08);
    padding: 1rem;
    width: 100%;
    position: relative;
}

.ecc-input__group {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.ecc-input__item {
    position: relative;
    margin: 0 1%;
    padding-top: 26px;
    flex: 1 1 auto;
}

.ecc-input__item:first-child {
    margin-left: 0;
}
.ecc-input__item:last-child {
    margin-right: 0;
}

.ecc-input__input {
    width: 100%;
    border: none !important;
    border-bottom: 1px solid #00427a !important;
    background: transparent !important;
}

.ecc-input__label {
    position: absolute;
    top: calc(100% - 1.8rem);
    width: 100%;
    left: .4rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6rem;
    transition: all .2s ease;
    color: #00427a;
}

.ecc-input__input:focus + .ecc-input__label, .ecc-input__label.hasValue {
    top: 0;
}

.ecc-input__input:focus-visible {
    outline: none;
}

.ecc-input__item.invalid-input .ecc-input__input {
    border-bottom: 1px solid red !important;
}

.ecc-input__item.invalid-input .ecc-input__label {
    color: red;
}

input.btn-send {
    margin-left: auto;
    background: #00427a;
    color: #fff;
    padding: 1rem 2rem;
    cursor: pointer;
    border: 2px solid #00427a !important;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.ecc-input__item.ecc-input--submit {
    text-align: right;
}

@media only screen and (max-width: 767px) {
  .ecc-input__group {
      flex-direction: column;
  }
}
