.overview {
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.08);
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.ecc-summary__container {
    display: flex;
    justify-content: flex-start;
}
.ecc-summary__wrapper {
    width: 31.333%;
    border: 2px solid rgba(0, 0, 0, 0.08);
    margin: 0 1% 1rem;
    padding: 1rem;
    border-radius: 4px;
}

.ecc-summary__img {
    text-align: center;
    overflow: hidden;
}

.ecc-summary__img img {
    height: 200px;
    max-width: none;
    object-fit: cover;
    object-position: center center;
    display: block;
    margin: 0 auto;
}

.ecc-summary__title {
    text-align: center;
}

.ecc-summary__title h4 {
    margin: 0;
}

.ecc-summary__title ul li h5 {
    text-align: left;
}

.ecc-summary__descr p {
    text-align: center;
    margin: 0;
}

button.btn-send {
    margin-left: auto;
    background: #00427a;
    color: #fff;
    padding: 1rem 2rem;
    cursor: pointer;
    border: 2px solid #00427a !important;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

@media only screen and (max-width: 767px) {
    .ecc-summary__container {
        flex-direction: column;
    }

    .ecc-summary__wrapper {
        width: 100%;
        margin: 0 0 1rem;
    }

    .ecc-summary__img img {
        width: 200px;
        height: auto;
        margin: 0 auto;
    }
}
