.ecc-previewer {
    width: 65%;
    border: 1rem solid #efefef;
    border-bottom-width: 2rem;
    padding: 1rem;
}

.ecc-previewer.full {
    width: 100%;
}

.ecc-form__step.ecc-form__step--one {
    width: 35%;
}

.ecc-previewer__image {
    text-align: center;
}

.ecc-previewer__image img {
    width: auto;
    height: 400px;
    object-fit: cover;
}

.ecc-previewer__extras {
    display: flex;
}

.ecc-previewer__box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, .3);
    padding: .5rem;
    margin-right: .5%;
    width: 24.5%;
}

.ecc-previewer__box__image {
    width: 64px;
    min-width: 64px;
}

.ecc-previewer__info {
    margin-left: .5rem;
}

.ecc-previewer__color__thumb {
    border: 2px solid rgba(0, 0, 0, .3);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
}
